:root{
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  font-size: 10px;
  background-color: var(--color-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img{
  max-width: 100%;
  border-radius: 10px;
}

.card{
  max-width: 375px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-white);
  height: max-content;
  text-align: center;
  transition: .3s;
}

.card > h1{
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-dark-blue);
  transition: .3s;
}

.card > p{
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-grayish-blue);
  transition: .3s;
}

@media (max-width: 410px) {
  .card{
    max-width: 300px;
  }

  .card h1{
    font-size: 1.5rem;
  }
  .card p{
    font-size: 1.2rem;
  }
}